<ion-card>

 <ion-header>
   <ion-toolbar>
     <ion-title><ion-icon name="arrow-undo-outline" (click)="alertaBasica()"></ion-icon> Registrate</ion-title>
   </ion-toolbar>
 </ion-header>
</ion-card>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-label>Usuario</ion-label>
      <ion-input type="text"></ion-input> 
    </ion-item>
  </ion-card>

  <ion-card>
  <ion-item>
    <ion-label>Nombre</ion-label>
    <ion-input type="text"></ion-input> 
  </ion-item>
</ion-card>
 
<ion-card>
  <ion-item>
    <ion-label>Apellido</ion-label>
    <ion-input type="text"></ion-input> 
  </ion-item>
</ion-card>
  
<ion-card>
  <ion-item>
    <ion-label>Fecha nacimiento</ion-label>
    <ion-input type="text"></ion-input> 
  </ion-item>
</ion-card>

<ion-card>
  <ion-item>
    <ion-label>E-mail</ion-label>
    <ion-input type="text"></ion-input> 
  </ion-item>
</ion-card>

<ion-card>
  <ion-item>
    <ion-label>Telefono</ion-label>
    <ion-input type="text"></ion-input> 
  </ion-item>
</ion-card>  



<ion-card>
  <ion-item>
    <ion-label>Carrera universitaria</ion-label>
    <ion-input type="text"></ion-input> 
  </ion-item>
</ion-card>

 
  
<ion-card>

<ion-button color="primary" (click)="btncrear()" >Crear tu cuenta </ion-button>

</ion-card>