<ion-header>
  <ion-toolbar>
    <ion-title>password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true">
  <ion-button expand="full" (click)="obtenerUsuarios()">
     Obtener usuarios de la api
  </ion-button>
 
  <ion-button expand="full" (click)="crearMiUsuario()">
    Crear usuario
  </ion-button>
   
  <ion-button expand="full" (click)="loginUsuario()">
    Login usuario
  </ion-button>
  
  <ion-button expand="full" (click)="modificarPassword()">
    Modificar usuario 
  </ion-button> 
</ion-content>    


