ion-content{
    --background: url(6.jpg);
    --background-repeat: no-repeat;
    --background-size: cover;  
    }

ion-content{
    --background: url(mercedez.jpg);
    --background-repeat: no-repeat;
    --background-size: cover;  
    }

