<ion-header>
  <ion-toolbar>
    <ion-title>Modifica tu usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true">
  

  <ion-card>
    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input type="text" placeholder="Ingresa correo" [(ngModel)]="modificarpassword.correo" ></ion-input> 
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label position="floating">Nueva Password</ion-label>
      <ion-input type="text" placeholder="Ingresa tu password" [(ngModel)]="modificarpassword.password" ></ion-input> 
    </ion-item>
  </ion-card>
  
  <ion-button expand="full" (click)="modificarPassword()">
    Modificar usuario 
  </ion-button> 
</ion-content>    


