<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="arrow-undo-outline" (click)="alertaBasica()"></ion-icon>TellevoApp 
      <ion-icon name="car-sport-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Donde deseas ir?</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

 <ion-content [fullscreen]="true">
   <div id="container">
     <strong>Identificate</strong>
     <p>Calidad de primera en servicios de transporte</p>
   </div> 
 </ion-content>  

  

  


<ion-card>
  <ion-button expand="full" (click)="btnpasajero()"  > Pasajero</ion-button>
  <ion-button expand="full" (click)="btnchofer()"  > Dueño del vehiculo</ion-button>
  </ion-card>

