#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 20px;
  line-height: 22px;

  color: #00ff4c;

  margin: 1;
}

#container a {
  text-decoration: none;
}

ion-content{
  --background: url(mercedez.jpg);
  --background-repeat: no-repeat;
  --background-size: cover;  
  }