<ion-header>
  <ion-toolbar>
    <ion-title>Recupera tu contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label>Usuario</ion-label>
    <ion-input type="text"   ></ion-input> 
  </ion-item>

  <ion-item>
    <ion-label>Correo electronico</ion-label>
    <ion-input type="text"   ></ion-input> 
  </ion-item>

  <ion-item>
    <ion-label>Celular</ion-label>
    <ion-input type="text"   ></ion-input> 
  </ion-item>

  <ion-item>
    <ion-label>Codigo de confirmacion</ion-label>
    <ion-input type="text"   ></ion-input> 
  </ion-item>

  
</ion-content>



<ion-button color="success" (click)="btnrecuperar()">Recuperar</ion-button>




