<ion-header>
  <ion-card>
  <ion-toolbar>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
<ion-progress-bar type="indeterminate" reversed="true"></ion-progress-bar>
    
    <ion-title>Bienvenido  <ion-icon name="car-sport-outline"></ion-icon> 
    <ion-datetime value="2021-09-30T15:43:40.394Z" display-timezone="utc"></ion-datetime></ion-title>
  </ion-toolbar>
</ion-card>

</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      
      <ion-card-title>TELLEVOAPP <ion-icon name="school-outline"></ion-icon></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Nueva plataforma para movilizarte ahora en android y ios

      el retorno a tu hogar ya no sera problema podras llegar sano y salvo 
      gracias a nuestra nueva app
    </ion-card-content>
  </ion-card>

  <ion-card>
 
      




  </ion-card>
  


</ion-content>


  


<ion-button color="primary" (click)="btnalumno()" >Alumno</ion-button>
<ion-button color="primary" (click)="btnconductor()" >Conductor</ion-button>
<ion-button color="primary" (click)="btncuenta()" >Crear Cuenta</ion-button>






